body{
			font-family:"Comic Sans Ms",sans serif;
			background-color: lightgrey;
			margin: 0px;
		}
		h2{
			background-color: darkgrey;
			text-align: center;
			padding: 10px;
			color: white;
		}
		td{
			padding: 5px;
		}
		input{
			height: 20px;
			border-radius: 10px;
			border: none;
		}
		input: auto-focus{
			outline: none;
			border: 1px solid black;
		}
		textarea{
			border-radius: 10px;
		}
		button{
			background-color: darkgrey;
			color: white;
			font-size: 20px;
			padding: 5px;
			border: none;
		}